.contact-list {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
    background: linear-gradient(270deg, #cef2fa 0%, #59bfef 100%);
}

.contact-list > div {
    margin-top: 20px;
    margin-bottom: 20px;
    background: #eee;
    width: 100%;
    max-width: 600px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
    border-radius: 5px;
    padding: 0 20px;
}

.contact-list h1 {
    color: #333;
    text-align: center;
}

.contact-list th, td {
    cursor: pointer;
}
