.contact-change {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 50px;
    flex-grow: 1;
    width: 100%;
    background: linear-gradient(270deg, #cef2fa 0%, #59bfef 100%);
}

.contact-change_form {
    position: relative;
    width: 100%;
    max-width: 600px;
    background: #eee;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
    padding: 15px;
    border-radius: 5px;
}

.contact-change .close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #f01f30;
}

.contact-change .cancel {
    color: #660000;
}

.contact-change .change {
    margin-right: 5px;
    color: #006600;
}

.contact-change h1 {
    text-align: center;
    margin-top: 0;
    color: #333;
}

.RenderContact {
    position: relative;
}

.RenderContact p {
    margin-top: 0;
    margin-bottom: 3px;
    padding: 0;
    display: block;
    font-weight: bold;
}

.toggle {
    margin-bottom: 3px;
    padding: 0;
    display: inline-block;
    font-weight: bold;
    cursor: pointer;
}

.nested {
    background: #e2e2e2;
    padding: 10px;
}
.nested:empty {
    display: none;
}
